*/*{
    border:1px solid red;
}*/

header {
  background-color: rgb(15, 15, 15);
  color: #ffffff;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: none;
  border-right: none;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}

nav {
  float: right;
  position: relative; 
  bottom: 2px;
  margin-right: 25px;
  font-family: serif;
  font-weight: 100;
  font-size: 20px;
  
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 26px;
  position: relative; 
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #33cc66; 
  transition: background-color 0.3s ease-out;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*MAIN*/

.headline h2{
  font-family: serif;
  letter-spacing: 8px;
  text-align: center;
  font-size: 170px;

  /*Overlay*/
  position: absolute;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: 100;

}

.word1 h2{
  margin-top: 25vh;
  margin-left: 28vw;
}

.word2 h2 {
  margin-top: 25vh;
  margin-left: 80.5vw;
}

.image-overlay {
  position: relative;
  margin-left: -10vw;
  margin-top: 12vh;
}

.spotifylogo img {
  position: relative;
  width: 58vw;
  height: 54vh;
  margin-top: 0.5vh;
  margin-left: 19.85vw;
  z-index: -1;
}

/* FIRST BLOCK */

.color-blocks {
  position: relative;
}

.color-block1 {
  background-color: #33cc66;
  width:  100vw;
  height: 53.125em;
  margin-top: 7.5em;
  border-radius: 1.25vh;

}

.color-block2 {
  position: absolute;
  background-color: rgb(12, 12, 12);
  width:  98vw;
  height: 82.5vh;
  top: 0.8vh;
  right: 1vw;
  border-radius: 1.25vw;
}

.imageblock {
  position: absolute;
  bottom: 3vh;
  right:  4vw;
  z-index: 0;
}

.blocktext h3 {
  position: absolute;
  color: #fdfdfd;
  margin-left: 9vw;;
  top: 16vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.08em;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  max-width: 550px;
  line-height: 1.8;

}


.BottomRight {
  display: inline;
  color: white;
  background-color: rgb(15, 15, 15);
  float: right;
  outline-style:solid;
  outline-width:2px;
  outline-color:white;
}

.blocks-section2 {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 125vh;
}


/* FOOTER */

.footer {
  position:relative;
  width: 100vw;
  height: 60vh;
  background-color: rgb(15, 15, 15);
  bottom: 0;
  border-top: 1px solid;
  border-color: #ffffff;
  

}

.footer p {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 14vh;
  width: 58vw;
  margin-left: 20vw;
  font-size: larger;
  letter-spacing: 0.31vh;
  line-height: 3vh;
  
}